/* styles.css */

/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h2 {
    color: #333;
}


.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
}


